<h1>Баннеры</h1>

<div class="block">Для вывода блока с баннерами используйте следующий код: <strong>{literal}{shopYosliPlugin::display()}{/literal}</strong></div>

<div class="fields form">
    <form action="?module=plugins&id=yosli&action=save" method="post" id="plugins-settings-form">
        {$wa->csrf()}

        <div class="field">
            <div class="name">
                Статус плагина
            </div>
            <div class="value">
                <select name="shop_yosli[status]">
                    <option {if isset($settings.status) &&  $settings.status == 0} selected="selected"{/if} value="0">Выключен</option>
                    <option {if isset($settings.status) && $settings.status == 1} selected="selected"{/if} value="1">Включен</option>
                </select>
            </div>
        </div>

        <div class="field">
            <div class="name">
                Шаблон плагина
            </div>
            <div class="value">
                <select name="shop_yosli[theme]">
                    <option {if isset($settings.theme) &&  $settings.theme == "bar"} selected="selected"{/if} value="bar">
                        bar
                    </option>
                    <option {if isset($settings.theme) && $settings.theme == "dark"} selected="selected"{/if} value="dark">
                        dark
                    </option>
                    <option {if isset($settings.theme) && $settings.theme == "default"} selected="selected"{/if} value="default">
                        default
                    </option>
                    <option {if isset($settings.theme) && $settings.theme == "light"} selected="selected"{/if} value="light">
                        light
                    </option>
                </select>
            </div>
        </div>

        <div class="field">
            <div class="name">
                Эффект анимации
            </div>
            <div class="value">
                <select name="shop_yosli[effect]">
                    <option {if isset($settings.effect) &&  $settings.effect == "sliceDown"} selected="selected"{/if} value="sliceDown">
                        sliceDown
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "sliceDownLeft"} selected="selected"{/if} value="
                    sliceDownLeft">
                        sliceDownLeft
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "sliceUp"} selected="selected"{/if} value="sliceUp">
                        sliceUp
                    </option> 
                    <option {if isset($settings.effect) &&  $settings.effect == "sliceUpLeft"} selected="selected"{/if} value="sliceUpLeft">
                        sliceUpLeft
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "sliceUpDown"} selected="selected"{/if} value="
                    sliceUpDown">
                        sliceUpDown
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "sliceUpDownLeft"} selected="selected"{/if} value="sliceUpDownLeft">
                        sliceUpDownLeft
                    </option> 
                    <option {if isset($settings.effect) &&  $settings.effect == "fold"} selected="selected"{/if} value="fold">
                        fold
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "fade"} selected="selected"{/if} value="
                    fade">
                        fade
                    </option>
                    <option {if isset($settings.effect) && $settings.effect == "random"} selected="selected"{/if} value="random">
                        random
                    </option> 
                </select>
            </div>
        </div>

        <div class="field">
            <div class="name">
                Ширина изображения
            </div>
            <div class="value">
                <input type="text" name="shop_yosli[width]" value="{if isset($settings.width)}{$settings.width}{/if}" />
            </div>
        </div>

        <div class="field">
            <div class="name">
                Высота изображения
            </div>
            <div class="value">
                <input type="text" name="shop_yosli[height]" value="{if isset($settings.height)}{$settings.height}{/if}" />
            </div>
        </div>

        <div class="field">
            <div class="name">
                Скорость анимации
            </div>
            <div class="value">
                <input type="text" name="shop_yosli[speed]" value="{if isset($settings.speed)}{$settings.speed}{/if}" />
            </div>
        </div>

        <div class="field">
            <div class="name">
                Время паузы
            </div>
            <div class="value">
                <input type="text" name="shop_yosli[pause_time]" value="{if isset($settings.pause_time)}{$settings.pause_time}{/if}" />
            </div>
        </div>

        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                    <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                </span>
            </div>
        </div>
    </form>
</div>

<div class="clear-both"></div>

<script type="text/javascript">
    $(function() {
        $("#plugins-settings-form").submit(function() {
            var f = $(this);
            $.post(f.attr('action'), f.serialize(), function(response) {
                if (response.status == 'ok') {
                    $('#wa-design-button').removeClass('red').addClass('green');
                    $("#wa-editor-status-fail").hide()
                    $("#wa-editor-status-ok span").html(response.data.message);
                    $("#wa-editor-status-ok").fadeIn('slow', function() {
                        $(this).fadeOut(1000);
                    });
                    $("#wa-app #mainmenu .tabs").find('li a[href="?plugin=yosli"]').closest('li').remove();
                    if ( $("#plugins-settings-form select[name='shop_yosli[status]']").val() == 1 ) {
                        $("#wa-app #mainmenu .tabs li:last").before('<li class="no-tab"><a href="?plugin=yosli">Баннеры</a></li>');
                    }
                } else {
                    $('#wa-design-button').removeClass('green').addClass('red');
                    $("#wa-editor-status-ok").hide();
                    $("#wa-editor-status-fail span").html(response.errors.join(', '));
                    $("#wa-editor-status-fail").fadeIn('slow');
                }
            }, "json")
            return false;
        });
    });
</script>