.bottom15px { margin-bottom: 15px!important; }
.right30percent { float: right; width: 30%; }
.slide-image { border-radius: 50%; display: block; float: right; height: 60px; }
.slide-title { display: block; height: 60px; line-height: 60px; overflow: hidden; width: 100px; }
.slide-alt { display: block; height: 60px; line-height: 60px; overflow: hidden; width: 100px; }
.edit-image { border: 1px dotted #eee; border-bottom-right-radius: 100px; box-shadow: -1px 0 3px rgba(0, 0, 0, 0.1); margin: -17px 0 0 500px; position: absolute; width: 400px; }
.yosli-edit-wrap { border-bottom-left-radius: 45px; border-bottom-right-radius: 5px; border-top: 1px dotted #dedede; margin-bottom: 0 !important; overflow: hidden; }
.yosli-edit-wrap.selected + li { border-top: 0 none; }

#s-content h1 { width: 420px; word-wrap: break-word; }
#s-content.loading { background: url("/wa-apps/shop/plugins/yosli/img/loading-blue.gif") no-repeat scroll  240px 45px #fff; height: 60px; }
#s-sidebar { border-right: 1px solid rgba(0, 0, 0, 0.1); margin-right: 20px; margin-top: 0px; padding-bottom: 60px; padding-right: 10px; padding-top: 0px; position: relative; }
#s-sidebar .block { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
#yosli-file-frame, #yosli-file-form { display: none; }
#yosli-form { min-height: 400px; }
#yosli-create { float: right; }
#yosli-delete { display: block; float: right; height: 12px; line-height: 12px; margin: 5px 40px 0 0; padding: 4px 0; }

@media screen and (max-width: 1200px) {
	.edit-image { margin: 0 0 15px; position: relative; }
}

@media screen and (max-width: 1024px) {
	.yosli-edit-wrap a { text-align: center; }
	.slide-image { display: inline; float: none; height: 40px; }
	.slide-title { height: 20px; line-height: 15px; width: 100%; }
	.slide-alt { height: 20px; line-height: 15px; width: 100%; }
}