<style type="text/css">
    {include file="../../../css/yosli.css" inline}
</style>

<script type="text/javascript">
	{include file="../../../js/yosli.backend.slides.js"}
</script>

<script type="text/javascript">
    (function ($) {
        yosliBackendSlides.initModule();
    })(jQuery);
</script>
	
<div id="s-sidebar" class="sidebar left250px">
	<div class="block">
		<ul class="menu-v with-icons">
			<li class="bottom-padded bottom15px">
				<a class="bold" href="#" id="yosli-create"><i class="icon16 add"></i>Добавить</a>
			</li>
			{section name=i loop=$slides}
			<li class="yosli-edit-wrap">
				<a class="yosli-edit" href="#">
					<input class="slide-id" type="hidden" value="{$slides[i].id}" />
					{if $slides[i].filename}
						<img class="slide-image" src="{$wa_url}wa-data/public/shop/yosli/{$slides[i].filename}" />
					{/if}
					<span class="slide-title">{$slides[i].title}</span>
				</a>
			</li>
			{/section}
		</ul>
	</div>
</div>
<div id="s-content" class="content left250px blank">
	<div class="block align-right gray">
		Для вывода слайдера во фронтенде магазина вставьте в необходимое место шаблона следующий код: <strong>{literal}{shopYosliPlugin::display()}{/literal}<strong>
	</div>
	{if !$slides}
		<div class="block double-padded align-right gray">
			<strong>Пока что не добавлено ни одного изображения.</strong>
		</div>
	{else}
		<div class="block left-padded">
			{shopYosliPlugin::display()}
		</div>
	{/if}
</div>

